@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

/* Mobile styles */
.activity_card {
  height: 300px;
  width: 200px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  transition: transform 0.15s ease;
  font-family: "Inter", sans-serif;
  background-color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: visible;
}

.activity_card:hover {
  transform: scale(1.02);
}

.activity_card.selected_card {
  transition: transform 0.3s ease;
  transform: scale(1.07);
  box-shadow: 0 0 15px grey;
}

.img_container {
  height: 175px;
  width: 200px;
}

.img_container > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card_details {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.card_details > h2 {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  margin-top: 0;
  margin-bottom: 8px;
}

.card_details > h3 {
  font-size: 10px;
  text-align: left;
  font-weight: 200;
  margin: 0;
}

.ratings_pricelevel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
  height: 20px;
}

.ratings_pricelevel > p {
  letter-spacing: 2px;
  white-space: nowrap;
  text-align: center;
  margin: 0;
}

/* Tablet styles */
@media (min-width: 600px) {
}

/* Desktop styles */
@media (min-width: 1024px) {
  .activity_card {
    height: 350px;
    width: 220px;
  }

  .img_container {
    height: 200px;
    width: 220px;
  }

  .card_details {
    padding: 10px;
  }

  .card_details > h2 {
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 8px;
  }

  .card_details > h3 {
    font-size: 12px;
    font-weight: 200;
  }
}

/* Larger Desktop Styles */
@media (min-width: 1440px) {
  .activity_card {
    height: 450px;
    width: 300px;
  }

  .img_container {
    height: 275px;
    width: 300px;
  }
  .img_container > img {
    height: 275px;
    width: 300px;
  }
}
