.tripinarymain .form{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    background-color: #43633e20;  
    padding: 2em;
    align-items: center;
    min-height: 75vh;
    box-sizing: border-box;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.tripinarymain .form h1{
    padding:10px;
    margin-bottom: -5px;
    font-size: 50px
}

.tripinarymain .form h4{
    margin-top: 0;
    color: #43633E;
}

.tripinarymain .form p{
    margin: 0;
    color: #43633ebb;
    padding: 3px;
}

.user-input{
    display: flex;
    margin-top: 25px;
    
}

.city-input{
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: transparent;
    color:#43633e;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 5px;

}

.city-box{
    align-items: center;
    justify-content: center;
    border: 2px solid #43633e;
    border-radius: 10px;
    background-color: white;
    margin-right: 5px;
    padding: 5px;
}

.city-box h5{
    margin: 5px;
    justify-content: center; 
    color: #43633e;
    padding: 5px;
}

.number-box{
    align-items: center;
    justify-content: center;
    border: 2px solid #43633e;
    border-radius: 10px;
    background-color: white;
    margin-right: 5px;
    padding: 5px;
}

.number-box h5{
    margin: 5px;
    justify-content: center; 
    color: #43633e;
    padding: 5px;
}

.number-input{
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: transparent;
    color:#43633e;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 5px;
    width: 110px;
   
}

.drop-down{
    color:#43633edf;
    background-color: transparent;
    margin-right: 5px;
    flex: 1;
    font-size: 14px;
}

.itinerary-button{
    background-color: white; 
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.enter-button{
    color: #43633E;
    background-color: white;
    border: 2px solid #43633e; 
    font-size: 14px;
    border-radius: 10px;
}

.enter-button:hover{
    background-color: #43633e25;
}

.submit_area {
    /* position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  
    height: 40px;
    padding: 30px;
    border-top: none;
    border-width: 1px;
    line-height: 40px;
  
    background-color: white;
}
  
.submit_area > p {
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

input[type="text"] {
  border: none;
  outline: none;
  background-color: transparent;
  color: #43633e;
  font-size: 14px;
  padding: 5px;
}
  